.kitchen-set {
  //================ .kitchen-set =========================
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-auto-rows: auto;
  padding-left: 0;
  padding-right: 0;
  @include adaptive-value("margin-top", 70, 25, map-get($breakpoints, md));
  @include adaptive-value("padding-bottom", 120, 60, map-get($breakpoints, es));
  @include adaptive-value(
    "row-gap",
    100,
    40,
    map-get($breakpoints, es),
    map-get($breakpoints, md)
  );
  @include adaptive-value(
    "column-gap",
    40,
    30,
    map-get($breakpoints, es),
    map-get($breakpoints, md)
  );

  //================ MEDIA QUERIES =========================
  @include media(md) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-left: rem(20);
    padding-right: rem(20);
    @include adaptive-value("row-gap", 60, 100, map-get($breakpoints, md));
    @include adaptive-value("column-gap", 30, 40, map-get($breakpoints, md));
  }
  @include media(lg) {
    grid-template-columns: repeat(3, minmax(0, 1fr));

    @include adaptive-value("padding-left", 40, 0, map-get($breakpoints, lg));
    @include adaptive-value("padding-right", 40, 0, map-get($breakpoints, lg));
  }
  //================ .kitchen-set__large-kitchen =========================
  &__large-kitchen {
    @include media(md) {
      grid-column-start: span 2;
    }
    @include media(lg) {
      grid-row-start: span 2;
    }

    //================ MEDIA QUERIES =========================
    @media (max-width: (map-get($breakpoints, lg)+px)) {
      &_row-start {
        grid-row-start: 2;
      }
    }
  }

  //================ .kitchen-set__small-kitchen  =========================
  &__small-kitchen {
  }

  //================ .kitchen-set__banner  =========================
  &__banner {
    color: $color-white;

    //================ .kitchen-set__banner_dark  =========================
    &_dark {
      color: $color-secondary;
    }

    //================ MEDIA QUERIES =========================
    @media (max-width: (map-get($breakpoints, lg)+px)) and (min-width: (map-get($breakpoints, md)+1px)) {
      display: none;
    }
    @media (max-width: (map-get($breakpoints, md)+px)) {
      margin-top: rem(10);
    }
  }
  &__button-sticky {
    position: sticky;
    width: 100%;
    bottom: 0;
    z-index: $zIndexNormal;
    padding-top: rem(25);
    padding-bottom: rem(25);
    @include media(md) {
      display: none;
    }
  }
}
