include ../../Ui-kit/icon/icon
include ../../Ui-kit/circle-button/circle-button

mixin materials()
    section.materials.max-container
        .materials__container.min-container
            h2.materials__title.h2 Материалы
            .materials__swiper
                .swiper-wrapper
                    .materials__item.swiper-slide
                        .materials__image-box
                            img.materials__image(src="./assets/images/materials/desctop.jpg", alt="material")
                            .materials__footnote
                                .materials__footnote-box
                                    p.materials__footnote-name Толщина ЛДСП
                                    p.materials__footnote-value до 500 мм
                                .materials__footnote-box
                                    p.materials__footnote-name Срок службы
                                    p.materials__footnote-value 30 лет
                        .materials__description
                            h3.materials__description-title.h3 ЛДСП
                            p.materials__description-text.txt Столешницы и корпус изготавливаются из ЛДСП и имеют сертификат гигиенической безопасности категории Е1. Просты в уходе, отличаются повышенной влаго- и износостойкостью.

                    .materials__item.swiper-slide
                        .materials__image-box
                            img.materials__image(src="./assets/images/materials/desctop.jpg", alt="material")
                            .materials__footnote
                                .materials__footnote-box
                                    p.materials__footnote-name Толщина ЛДСП
                                    p.materials__footnote-value до 500 мм
                                .materials__footnote-box
                                    p.materials__footnote-name Срок службы
                                    p.materials__footnote-value 30 лет
                        .materials__description
                            h3.materials__description-title.h3 МДФ
                            p.materials__description-text.txt Фасады из МДФ имеют огромное количество расцветок. Они просты в уходе, надежны и экологически безопасны. А так же покрыты специальным влагостойким материалом.

                    .materials__item.swiper-slide
                        .materials__image-box
                            img.materials__image(src="./assets/images/materials/desctop.jpg", alt="material")
                            .materials__footnote
                                .materials__footnote-box
                                    p.materials__footnote-name Толщина ЛДСП
                                    p.materials__footnote-value до 500 мм
                                .materials__footnote-box
                                    p.materials__footnote-name Срок службы
                                    p.materials__footnote-value 30 лет
                        .materials__description
                            h3.materials__description-title.h3 Фурнитура
                            p.materials__description-text.txt Несколько разных вариантов покрытия под любой вкус и бюджет: МДФ+ПВХ, МДФ+ полупластик AGT, МДФ + многослойная эмаль.

                    .materials__item.swiper-slide
                        .materials__image-box
                            img.materials__image(src="./assets/images/materials/desctop.jpg", alt="material")
                            .materials__footnote
                                .materials__footnote-box
                                    p.materials__footnote-name Толщина ЛДСП
                                    p.materials__footnote-value до 500 мм
                                .materials__footnote-box
                                    p.materials__footnote-name Срок службы
                                    p.materials__footnote-value 30 лет
                        .materials__description
                            h3.materials__description-title.h3 Покрытие
                            p.materials__description-text.txt Качественная надежная фурнитура: выдвижные системы и подъемные механизмы с огромным количеством циклов открывания-закрывания. Петли из плотной стали имеют никелевое покрытие.

                    .materials__item.swiper-slide
                        .materials__image-box
                            img.materials__image(src="./assets/images/materials/desctop.jpg", alt="material")
                            .materials__footnote
                                .materials__footnote-box
                                    p.materials__footnote-name Толщина ЛДСП
                                    p.materials__footnote-value до 500 мм
                                .materials__footnote-box
                                    p.materials__footnote-name Срок службы
                                    p.materials__footnote-value 30 лет
                        .materials__description
                            h3.materials__description-title.h3 Техника
                            p.materials__description-text.txt Встраиваемая техника от ведущих компаний из Италии, Китая и России. Широкий выбор и богатый ассортимент. Подбираем варианты, основываясь на проекте вашей будущей кухни.
                +circle-button({
                        className: "materials__control-button",
                        style: 'fill'
                    })
                //- button.materials__control-button
                //-     +icon('arrow-mini', `materials__control-button-icon`)
            .materials__sponsors
                +icon('logo-kronospan-1', `materials__sponsors-icon`)
                +icon('logo-lemark-1', `materials__sponsors-icon`)
                img(src="./assets/icons/logo-kedr-1.svg", alt="").materials__sponsors-icon.icon_logo-kedr-1
                +icon('logo-egger-1', `materials__sponsors-icon`)
