include ../../banners/production-worker-banner/production-worker-banner
include ../../blocks/accordion-item/accordion-item
//- при изменении/установке поля modificator в миксине production-worker-banner нужно изменить в production-worker-banner.scss соответствующие модификаторы для элементов
mixin stages()
    section.stages
        +production-worker-banner({
                    image: 'banner_3.jpg',
                    texts: ['Точность измерений, пожелания клиентов и специфика помещения — мы обращаем внимание на всё.'],
                    post: 'дизайнер-замерщик',
                    name: 'Фамилия Имя',
                    modificator: 'one',
                }).production-worker-banner_reverse.stages__worker-banner.container
        .stages__dark-block.max-container
            .stages__container.container
                .stages__info.stages__info_color-white
                    h2.stages__title.h2 Замер и 3D-проект
                    p.stages__text.txt Важнейший этап, по окончанию которого наши клиенты будут иметь полное представление о внешнем виде их новенькой кухни.
                .stages__accordion
                    .stages__accordion-column
                        +accordion-item({
                            className: 'stages__accordion-item',
                            title: 'Профессиональный замер помещения нашим специалистом',
                            texts: ['Просторный цех с современным высокоточным оборудованием и квалифицированными сотрудниками в штате.']
                        }).stages__accordion-item_white
                        +accordion-item({
                            className: 'stages__accordion-item',
                            title: 'Возможность познакомиться с образцами материалов',
                            texts: ['Сотрудник привезет с собой чемодан с огромным количество образцов материала — все можно посмотреть и потрогать.']
                        }).stages__accordion-item_white
                    .stages__accordion-column
                        +accordion-item({
                            className: 'stages__accordion-item',
                            title: 'Гибкие условия сотрудничества',
                            texts: ['Просторный цех с современным высокоточным оборудованием и квалифицированными сотрудниками в штате.']
                        }).stages__accordion-item_white
                        +accordion-item({
                            className: 'stages__accordion-item',
                            title: 'Комфортный замер',
                            texts: ['Просторный цех с современным высокоточным оборудованием и квалифицированными сотрудниками в штате.']
                        }).stages__accordion-item_white
                .stages__marketing.stages__marketing_yellow-border.stages__marketing_color-white
                    p.stages__marketing-text Мы внимательно следим за каждым этапом работ, чтобы наш клиент получил идеальную кухню.
                .stages__info.stages__info_color-white
                    h2.stages__title.h2 Производство
                    p.stages__text.txt Наша компания имеет собственное производство, что позволяет отслеживать качество гарнитура на всех этапах его изготовления. По желанию клиента мы готовы провести экскурсию по нашим цехам. У нас несколько отделов, которые отвечают за качество изготавливаемого гарнитура: инженерный, производственный и технический.
        .stages__white-block.container
            +production-worker-banner({
                image: 'banner_1.jpg',
                texts: ['"Мимо нас брак не пройдет!', 'Мы внимательно следим за качеством производства и сводим риск получения бракованной вещи к абсолютному минимуму."'],
                post: 'дизайнер-замерщик',
                name: 'Фамилия Имя',
                modificator: 'two',
            }).stages__worker-banner
            .stages__accordion
                .stages__accordion-column
                    +accordion-item({
                        className: 'stages__accordion-item',
                        title: 'Составления ТЗ техническими специалистами',
                        texts: ['Просторный цех с современным высокоточным оборудованием и квалифицированными сотрудниками в штате.']
                    })
                    +accordion-item({
                        className: 'stages__accordion-item',
                        title: 'Производство и заказ необходимых материалов',
                        texts: ['После составления ТЗ начинается процесс непосредственного изготовления материалов или их заказа у поставщиков.']
                    })
                .stages__accordion-column
                    +accordion-item({
                        className: 'stages__accordion-item',
                        title: 'Многоступенчатая система контроля качества',
                        texts: ['Просторный цех с современным высокоточным оборудованием и квалифицированными сотрудниками в штате.']
                    })
                    +accordion-item({
                        className: 'stages__accordion-item',
                        title: 'Упаковка заказа и подготовка к доставке на адрес',
                        texts: ['Просторный цех с современным высокоточным оборудованием и квалифицированными сотрудниками в штате.']
                    })
            +production-worker-banner({
                image: 'banner_2.jpg',
                texts: ['Ваша будущая кухня в наших надежных руках на всех этапах ее изготовления!'],
                post: 'руководитель отдела доставки',
                name: 'Фамилия Имя',
                modificator: 'tree',
            }).stages__worker-banner

            .stages__info
                h2.stages__title.h2 Доставка и монтаж
                p.stages__text.txt Доставим вашу будущую кухню в целости и сохранности в удобное для вас время. Сборку производят квалифицированные специалисты без вредных привычек и с полезными дополнительными навыками, например, умением подключить всю бытовую технику и убрать после себя строительный мусор.
            .stages__accordion
                .stages__accordion-column
                    +accordion-item({
                        className: 'stages__accordion-item',
                        title: 'Собственный автопарк и штат сборщиков',
                        texts: ['Просторный цех с современным высокоточным оборудованием и квалифицированными сотрудниками в штате.']
                    })
                    +accordion-item({
                        className: 'stages__accordion-item',
                        title: 'Экспертные сборщики',
                        texts: ['Просторный цех с современным высокоточным оборудованием и квалифицированными сотрудниками в штате.']
                    })
                .stages__accordion-column
                    +accordion-item({
                        className: 'stages__accordion-item',
                        title: 'Монтаж в кратчайшие сроки',
                        texts: ['Просторный цех с современным высокоточным оборудованием и квалифицированными сотрудниками в штате.']
                    })
                    +accordion-item({
                        className: 'stages__accordion-item',
                        title: 'Порядок на кухне',
                        texts: ['Просторный цех с современным высокоточным оборудованием и квалифицированными сотрудниками в штате.']
                    })
            .stages__marketing.stages__marketing_gray-border
                    p.stages__marketing-text Удовлетворять потребности клиентов, реализовывать их задумки и дарить яркие эмоции  — вот наши основные цели.
            .stages__info.stages__info_gray-background
                    h2.stages__title.h2 Гарантия и постпродажное обслуживание
                    p.stages__text.txt На все наши гарнитуры предоставляется гарантия 24 месяца. После установки гарнитура мы остаемся с клиентами на связи и способны оперативно решить любые вопросы, а также уладить недостатки, появившиеся в процессе эксплуатации.