include ../../banners/production-worker-banner/production-worker-banner
include ../../blocks/accordion-item/accordion-item
include ../../Ui-kit/circle-text/circle-text

//- при изменении/установке поля modificator в миксине production-worker-banner нужно изменить в production-worker-banner.scss соответствующие модификаторы для элементов
mixin stages()
    section.stages.content-hidden
        +production-worker-banner({
                    image: 'banner_3',
                    texts: ['Точность измерений, пожелания клиентов и специфика помещения — мы обращаем внимание на всё.'],
                    post: 'дизайнер-замерщик',
                    name: 'Фамилия Имя',
                    modificator: 'one',
                }).production-worker-banner_reverse.stages__worker-banner.min-container
        .stages__dark-block.max-container
            .stages__container.min-container
                .stages__info.stages__info_color-white
                    h2.stages__title.h2 Замер и 3D-проект
                    p.stages__text.txt Важнейший этап, по окончанию которого наши клиенты будут иметь полное представление о внешнем виде их новенькой кухни.
                .stages__accordion
                    .stages__accordion-column
                        +accordion-item({
                            className: 'stages__accordion-item',
                            title: 'Профессиональный замер помещения нашим специалистом',
                            texts: ['Мастера ежегодно повышают квалификацию, что позволяет им безошибочно и быстро производить замеры.']
                        }).stages__accordion-item_white
                        +accordion-item({
                            className: 'stages__accordion-item',
                            title: 'Возможность познакомиться с образцами материалов',
                            texts: ['Сотрудник привезет с собой чемодан с огромным количество образцов материала — все можно посмотреть и потрогать.']
                        }).stages__accordion-item_white
                    .stages__accordion-column
                        +accordion-item({
                            className: 'stages__accordion-item',
                            title: 'Гибкие условия сотрудничества',
                            texts: ['Выезд дизайнера замерщика бесплатен. Он приедет в удобное для вас время и поможет в создании проекта, отвечающий вашим желаниям и возможностям.']
                        }).stages__accordion-item_white
                        +accordion-item({
                            className: 'stages__accordion-item',
                            title: 'Комфортный замер',
                            texts: ['Замер не только точен, но и быстр. В течение одного вечера у вас на руках уже будет проект будущей кухни.']
                        }).stages__accordion-item_white
                .stages__marketing.stages__marketing_yellow-border.stages__marketing_color-white
                    p.stages__marketing-text Мы внимательно следим за каждым этапом работ, чтобы наш клиент получил идеальную кухню.
                    +circle-text({
                            className: 'stages__circle-text stages__circle-text_yellow',
                            words: [['/','/'], ['б','е','с','п','л','а','т','н','ы','й'],['з','а','м','е','р'], ['/','/'], ['б','е','с','п','л','а','т','н','ы','й'],['з','а','м','е','р']],
                            small: true,
                            fill: 'yellow'
                        })
                .stages__info.stages__info_color-white
                    h2.stages__title.h2 Производство
                    p.stages__text.txt Наша компания имеет собственное производство, что позволяет отслеживать качество гарнитура на всех этапах его изготовления. По желанию клиента мы готовы провести экскурсию по нашим цехам. У нас несколько отделов, которые отвечают за качество изготавливаемого гарнитура: инженерный, производственный и технический.
        .stages__white-block.max-container
            .stages__container.min-container
                +production-worker-banner({
                    image: 'banner_1',
                    texts: ['"Мимо нас брак не пройдет!', 'Мы внимательно следим за качеством производства и сводим риск получения бракованной вещи к абсолютному минимуму."'],
                    post: 'дизайнер-замерщик',
                    name: 'Фамилия Имя',
                    modificator: 'two',
                }).stages__worker-banner
                .stages__accordion
                    .stages__accordion-column
                        +accordion-item({
                            className: 'stages__accordion-item',
                            title: 'Составления ТЗ техническими специалистами',
                            texts: ['После того, как все замеры в помещении клиента произведены и проект готов, дизайнер составляет ТЗ для технических специалистов — количество модулей, материал фасадов, цвет и прочее.']
                        })
                        +accordion-item({
                            className: 'stages__accordion-item',
                            title: 'Производство и заказ необходимых материалов',
                            texts: ['После составления ТЗ начинается процесс непосредственного изготовления материалов или их заказа у поставщиков.']
                        })
                    .stages__accordion-column
                        +accordion-item({
                            className: 'stages__accordion-item',
                            title: 'Многоступенчатая система контроля качества',
                            texts: ['Сперва происходит проверка инженерным, техническим, а затем и производственными отделами. После раскроя и распила материалов, а также производства корпусной части кухни, осуществляется финальная проверка качества']
                        })
                        +accordion-item({
                            className: 'stages__accordion-item',
                            title: 'Упаковка заказа и подготовка к доставке на адрес',
                            texts: ['Все детали будущей кухни тщательно упаковываются и ждут своей отправки на адрес клиента. Она происходит только после согласования удобного для него времени.']
                        })
                +production-worker-banner({
                    image: 'banner_2',
                    texts: ['Ваша будущая кухня в наших надежных руках на всех этапах ее изготовления!'],
                    post: 'руководитель отдела доставки',
                    name: 'Фамилия Имя',
                    modificator: 'tree',
                }).stages__worker-banner

                .stages__info
                    h2.stages__title.h2 Доставка и монтаж
                    p.stages__text.txt Доставим вашу будущую кухню в целости и сохранности в удобное для вас время. Сборку производят квалифицированные специалисты без вредных привычек и с полезными дополнительными навыками, например, умением подключить всю бытовую технику и убрать после себя строительный мусор.
                .stages__accordion
                    .stages__accordion-column
                        +accordion-item({
                            className: 'stages__accordion-item',
                            title: 'Собственный автопарк и штат сборщиков',
                            texts: ['Доставим гарнитур в удобное время, поднимем на этаж и аккуратно занесем в квартиру.']
                        })
                        +accordion-item({
                            className: 'stages__accordion-item',
                            title: 'Экспертные сборщики',
                            texts: ['Сборка гарнитура осуществляется в удобный для вас день и занимает не больше 16 часов.']
                        })
                    .stages__accordion-column
                        +accordion-item({
                            className: 'stages__accordion-item',
                            title: 'Монтаж в кратчайшие сроки',
                            texts: ['Наши сборщики имеют многолетний опыт подобной работы. Собак на кухнях, вероятно, не ели, но собирали гарнитуры всегда исправно, быстро и качественно.']
                        })
                        +accordion-item({
                            className: 'stages__accordion-item',
                            title: 'Порядок на кухне',
                            texts: ['Сохраняем чистоту помещения в процессе сборки и после нее']
                        })
                .stages__marketing.stages__marketing_gray-border
                        p.stages__marketing-text Удовлетворять потребности клиентов, реализовывать их задумки и дарить яркие эмоции  — вот наши основные цели.
                        +circle-text({
                            className: 'stages__circle-text stages__circle-text_dark',
                            words: [['/','/'], ['б','е','с','п','л','а','т','н','ы','й'],['з','а','м','е','р'], ['/','/'], ['б','е','с','п','л','а','т','н','ы','й'],['з','а','м','е','р']],
                            small: true,
                            fill: 'dark-blue'
                        })
                .stages__info.stages__info_gray-background
                        h2.stages__title.h2 Гарантия и постпродажное обслуживание
                        p.stages__text.txt На все наши гарнитуры предоставляется гарантия 24 месяца. После установки гарнитура мы остаемся с клиентами на связи и способны оперативно решить любые вопросы, а также уладить недостатки, появившиеся в процессе эксплуатации.