mixin preview-catalog()
 section.preview-catalog
    .preview-catalog__container.container
        .preview-catalog__column
            h2.preview-catalog__title.h3 Каталог кухонь
            a.preview-catalog__image-box._hover-up(href="#", target="_blank", rel="noopener noreferrer")
                img.preview-catalog__image(src='/assets/images/preview-catalog/preview-catalog__1.jpg' alt='kitchen')
                p.preview-catalog__image-text Прямые кухни
            a.preview-catalog__image-box._hover-up(href="#", target="_blank", rel="noopener noreferrer")
                img.preview-catalog__image(src='/assets/images/preview-catalog/preview-catalog__2.jpg' alt='kitchen')
                p.preview-catalog__image-text Маленькие  кухни
        .preview-catalog__column
            a.preview-catalog__image-box._hover-up(href="#", target="_blank", rel="noopener noreferrer")
                img.preview-catalog__image(src='/assets/images/preview-catalog/preview-catalog__3.jpg' alt='kitchen')
                p.preview-catalog__image-text Угловые кухни
            a.preview-catalog__image-box._hover-up(href="#", target="_blank", rel="noopener noreferrer")
                img.preview-catalog__image(src='/assets/images/preview-catalog/preview-catalog__4.jpg' alt='kitchen')
                p.preview-catalog__image-text Кухни с барной стойкой
        .preview-catalog__column.preview-catalog__column_mobile-hidden.preview-catalog__column_margin-top
            a.preview-catalog__image-box._hover-up(href="#", target="_blank", rel="noopener noreferrer")
                img.preview-catalog__image(src='/assets/images/preview-catalog/preview-catalog__5.jpg' alt='kitchen')
                p.preview-catalog__image-text Кухни с островом
            a.preview-catalog__image-box._hover-up(href="#", target="_blank", rel="noopener noreferrer")
                img.preview-catalog__image(src='/assets/images/preview-catalog/preview-catalog__6.jpg' alt='kitchen')
                p.preview-catalog__image-text Подборка популярных