mixin detail-gallary()
    section.detail-gallary.max-container
        .detail-gallary__swiper
            .swiper-wrapper
                .detail-gallary__item.swiper-slide
                    img.detail-gallary__image(src="/assets/images/detail-gallary/image_1.jpg", alt="content")
                .detail-gallary__item.swiper-slide
                    img.detail-gallary__image(src="/assets/images/detail-gallary/image_2.jpg", alt="content")
                .detail-gallary__item.swiper-slide
                    img.detail-gallary__image(src="/assets/images/detail-gallary/image_3.jpg", alt="content")
