include ../../blocks/kitchen-set/kitchen-set
include ../../Ui-kit/filter-button/filter-button
include ../../sections/kitchen-advantages/kitchen-advantages
include ../../blocks/filter-selector/filter-selector
include ../../blocks/pagination/pagination

mixin catalog-kitchen()
    section.catalog-kitchen
        div.catalog-kitchen__top-section
            div.catalog-kitchen__container.container
                .catalog-kitchen__header
                    .catalog-kitchen__header-description
                        h1.catalog-kitchen__title.h1 Каталог кухонь
                        p.catalog-kitchen__subtitle.txt Дескриптер с пояснительным текстом на одну-две-три строки. Дескриптер с пояснительным текстом на одну-две-три строки. Дескриптер с пояснительным текстом на одну-две-три строки.
                    .catalog-kitchen__header-advantages
                        .catalog-kitchen__header-column
                            span.catalog-kitchen__discount.h1 -50%
                            p.catalog-kitchen__text.txt скидка до конца <br> месяца
                        .catalog-kitchen__header-column
                            span.catalog-kitchen__count.h1 638
                            p.catalog-kitchen__text.txt выполненных <br> работ в 2021 году
                +filter-selector({
                    className: "catalog-kitchen__filter-selector",
                    buttonText: 'фильтры',
                    selectors: ['Все кухни', 'Угловые', 'Прямые', 'С барной стойкой'],
                })
                .catalog-kitchen__filter

                    +filter-button({
                        className: "catalog-kitchen__filter-button",
                        text: 'Все кухни',
                        active: true
                    })
                    +filter-button({
                        className: "catalog-kitchen__filter-button",
                        text: 'Угловые'
                    })
                    +filter-button({
                        className: "catalog-kitchen__filter-button",
                        text: 'Прямые'
                    })
                    +filter-button({
                        className: "catalog-kitchen__filter-button",
                        text: 'С барной стойкой'
                    })
                +kitchen-set({
                    className: 'catalog-kitchen__set',
                    version: 'version-1'
                })
        +kitchen-advantages([
          { num: '0 ₽', text: 'стоимость выезда дизайнера и 3D-проекта' },
          { num: 'до30', text: 'дней на изготовление' },
          { num: '100 000+', text: 'циклов работы фурнитуры' },
        ])
        div.catalog-kitchen__bottom-section.container
            +kitchen-set({
                className: 'catalog-kitchen__set',
                version: 'version-2'
            })
        +pagination({
            className: 'catalog-kitchen__pagination',
            numbers: [1, 2, 3, 4, 5, 6]
        })