mixin kitchen-button({link='#', className, text, style})
    case style
        when 'fill'
            button(class= className ? `${className} kitchen-button kitchen-button_fill`: `kitchen-button kitchen-button_fill`)&attributes(attributes)=text
        when 'transperent'
            button(class= className ? `${className} kitchen-button kitchen-button_transperent`: `kitchen-button kitchen-button_transperent`)&attributes(attributes)=text
        default
            button(class= className ? `${className} kitchen-button kitchen-button_fill`: `kitchen-button kitchen-button_fill`)&attributes(attributes)=text
