include ../../Ui-kit/icon/icon

mixin detail-advantages()
    section.detail-advantages.max-container
        .detail-advantages__container.min-container
            .detail-advantages__column
                .detail-advantages__box
                    h2.detail-advantages__title.detail-advantages__title_accent.h1 &#45;50&#37;
                    p.detail-advantages__text скидка до конца <br> месяца
                .detail-advantages__box
                    h2.detail-advantages__title.h1 0&#37;
                    p.detail-advantages__text рассрочкана <br> 6 месяцев
                .detail-advantages__box
                    h2.detail-advantages__title.h1 24
                    p.detail-advantages__text месяца <br> гарантии
                .detail-advantages__box
                    h2.detail-advantages__title.h1 500&#43;
                    p.detail-advantages__text текстур и <br> цветов
        +icon('tree', "detail-advantages__icon")