mixin breadcrumbs({className})
    section.breadcrumbs(class=className).medium-container
        ul.breadcrumbs__list
            li.breadcrumbs__item
                a(href="#") Главная
            li.breadcrumbs__item
                a(href="#") Каталог
            li.breadcrumbs__item
                a(href="#") Название гарнитура