.call-popup {
  $media-height: 450px; // используется как ограничивающая высота для медиазапросов. Должна быть равна высоте попапа
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $zIndexHight;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: $transitionLight;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(40, 49, 67, 0.75);
    z-index: -1;
  }
  &._active {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    .call-popup__container {
      transform: scale(1);
    }
  }
  &__container {
    transform: scale(0);
    transition: $transitionNormal;
    position: relative;
    background-color: $color-white;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: $depth2;
    border: rem(1) solid $color-primary;
    @include adaptive-value("padding-top", 63, 40, map-get($breakpoints, es));
    @include adaptive-value("padding-bottom", 50, 20, map-get($breakpoints, es));
    @include adaptive-value("padding-left", 60, 10, map-get($breakpoints, es));
    @include adaptive-value("padding-right", 60, 10, map-get($breakpoints, es));

    @media (max-width: (map-get($breakpoints, md)+px)) {
      width: 100%;
      height: 100%;
      border: none;
    }
    @media (max-height: $media-height) {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
  &__close {
    position: absolute;
    @include adaptive-value("top", 16, 8, map-get($breakpoints, es));
    @include adaptive-value("right", 16, 8, map-get($breakpoints, es));
    width: rem(30);
    height: rem(30);

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: rem(2);
      transform: translateY(-50%);
      background-color: $color-gray-300;
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
  &__form {
    @include media(md) {
      max-width: rem(350);
      flex-shrink: 0;
      width: 100%;
    }
    @media (max-height: $media-height) {
      width: 100%;
      height: 100%;
      max-width: 100%;
    }
  }
}
