@use "sass:math";
.circle-text {
  $speed: 25;
  &_small {
    .circle-text__letter {
      @include adaptive-value(
        "padding-bottom",
        50,
        40,
        map-get($breakpoints, sm)
      );
      @include adaptive-value("font-size", 10.6, 9, map-get($breakpoints, sm));
    }
  }
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  border-radius: 50%;
  animation: rotating $speed + s linear infinite;
  color: $color-primary;
  //   border: 3px solid #ccc; разметка для настройки
  &_yellow {
    color: $color-secondary;
    background-color: $color-primary;
    width: rem(150);
    height: rem(150);
    .circle-text__letter {
      padding-bottom: rem(55);
      font-size: rem(11);
    }
  }
  &_dark-blue {
    color: $color-white;
    width: rem(150);
    height: rem(150);
    background-color: $color-secondary;
    .circle-text__letter {
      padding-bottom: rem(55);
      font-size: rem(11);
    }
  }
  &__word {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__letter {
    // outline: 1px dashed gray; разметка для настройки
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 0;
    transform-origin: 0 100%;
    @include adaptive-value(
      "padding-bottom",
      80,
      60,
      map-get($breakpoints, sm)
    );
    font-style: normal;
    font-weight: 400;
    @include adaptive-value("font-size", 15, 11, map-get($breakpoints, sm));
    line-height: 100%;
    text-transform: uppercase;

    display: block;
    margin-right: rem(10);
  }
}
