.button {
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: rem(14);
  line-height: 143%;
  text-transform: uppercase;
  color: $color-white;
  background-color: $color-primary;
  position: relative;
  transition: background-color $transitionNormal;
  @include adaptive-value("padding", 25, 15, map-get($breakpoints, es));
  @media (any-hover: hover) {
    &:hover {
      background-color: $hover-yellow-button;
    }
  }
  &_white {
    color: $color-text-secondary;
    background-color: $color-white;
    @media (any-hover: hover) {
      &:hover {
        background-color: rgb(247 249 252);
      }
    }
  }
  &::after {
    content: attr(data-error-name);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font-size: rem(10);
    font-weight: 400;
    font-style: normal;
    color: $color-warning;
  }
}
