.icon_tree {
  fill: transparent;
  stroke: $color-text-secondary;
  stroke-width: 0.5px;
  opacity: 0.3;
}
.icon_logo-egger-1 {
  width: rem(209);
  height: rem(48);
}
.icon_logo-kronospan-1 {
  width: rem(193);
  height: rem(44);
}
.icon_logo-lemark-1 {
  width: rem(145);
  height: rem(42);
}
.icon_logo-kedr-1 {
  width: rem(129);
  height: rem(36);
}
