.icon_tree {
  fill: transparent;
  stroke: $color-text-secondary;
  stroke-width: 0.5px;
  opacity: 0.3;
}
.icon_logo-egger-1 {
  width: rem(200);
  height: rem(48);
}
.icon_logo-kronospan-1 {
  width: rem(193);
  height: rem(44);
}
.icon_logo-lemark-1 {
  width: rem(145);
  height: rem(42);
}
.icon_logo-kedr-1 {
  width: rem(129);
  height: rem(36);
}
.icon_logo-agt {
  width: rem(112);
  height: rem(33);
}
.icon_logo-fenix {
  width: rem(170);
  height: rem(26);
}
.icon_logo-hettich {
  width: rem(112);
  height: rem(35);
}
.icon_logo-blum {
  width: rem(93);
  height: rem(26);
}
.icon_logo-kuche {
  width: rem(109);
  height: rem(38);
}
.icon_logo-boyard {
  width: rem(108);
  height: rem(31);
}
.icon_logo-candy {
  width: rem(140);
  height: rem(29);
}
.icon_logo-midea {
  width: rem(108);
  height: rem(41);
}
.icon_logo-simfer-1 {
  width: rem(121);
  height: rem(30);
}
.icon_logo-kessebohmer {
  width: rem(177);
  height: rem(26);
}
.icon_logo-LEX {
  width: rem(183);
  height: rem(61);
}
.icon_logo-chfmk {
  width: rem(164);
  height: rem(38);
}
