include ../../Ui-kit/video-button/video-button
include ../../sections/kitchen-advantages/kitchen-advantages

mixin production-intro
  section.production-intro
    .production-intro__screen
      .container
        h1.production-intro__title.h1 Производство
        +video-button({text: 'видео с производства', color: 'white', circle: true}).production-intro__video-button
        p.production-intro__text.h3 Краткое вступительное слово с рассказом о компании: кто они, как давно работают, упомянуть про принципы работы и философию бренда
    .production-intro__content
      .container
        p.production-intro__desc.txt Повседневная практика показывает, что укрепление и развитие структуры позволяет оценить значение существенных финансовых и административных условий. Товарищи! дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки форм развития. Таким образом консультация с широким активом позволяет оценить значение новых предложений.
        hr.production-intro__divider
    +kitchen-advantages([
          { num: 'до30', text: 'дней на изготовление' },
          { num: '638', text: 'кухонь изготовлено за 2021 год' },
          { num: '5', text: 'гарнитуров в сутки' },
          { num: '54', text: 'вида материалов' }
        ])