.button-back {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: rem(15);
  line-height: rem(20);
  text-transform: uppercase;
  color: $color-link;
  background: $color-white;
  opacity: 0.9;
  border-radius: rem(30);
  @include adaptive-value("padding-left", 25, 22, map-get($breakpoints, es));
  @include adaptive-value("padding-right", 25, 22, map-get($breakpoints, es));
  @include adaptive-value("padding-top", 15, 8, map-get($breakpoints, es));
  @include adaptive-value("padding-bottom", 15, 8, map-get($breakpoints, es));
  z-index: $zIndexNormal;
  transition: $transitionLight;
  border: rem(1) solid $color-white;
  @media (any-hover: hover) {
    &:hover {
      background-color: rgb(247 249 252);
      border: rem(1) solid $color-gray-600;
    }
  }
  &__icon {
    width: rem(16);
    height: rem(16);
    margin-right: rem(10);
    fill: $color-link;
    pointer-events: none;
  }
}
