.assembling-banner {
  @include adaptive-value("padding", 37, 20, map-get($breakpoints, es));
  background-color: $color-dark-blue-600;
  z-index: $zIndexLight;
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    background: $color-dark-blue-600;
    backdrop-filter: blur(rem(4));
  }
  &__discount {
    font-family: "Philosopher";
    font-style: normal;
    @include adaptive-value("font-size", 96, 86, map-get($breakpoints, es));
    font-weight: 400;
    line-height: 100%;
    color: $color-primary;
  }
  &__text {
    font-style: normal;
    font-weight: 700;
    @include adaptive-value("font-size", 18, 16, map-get($breakpoints, es));
    line-height: 100%;
    color: $color-white;
    max-width: rem(170);
    @include media(md) {
      max-width: initial;
    }
  }
  &__circle-text {
    position: absolute;
    top: 41%;
    left: 47%;
    @include media(sm) {
      left: rem(150);
    }
    @include media(md) {
      top: 62%;
      left: 56%;
    }
    @include adaptive-value("width", 180, 130, map-get($breakpoints, es));
    @include adaptive-value("height", 180, 130, map-get($breakpoints, es));
  }
}
