*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.15;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea,
select,
button {
  border: none;
  border-radius: 0;
  font-family: inherit;
  background-color: transparent;
  color: inherit;
}

select {
  appearance: none;

  &::-ms-expand {
    display: none;
  }
}

button {
  cursor: pointer;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
