$color-text: #2c2d2e;
$color-text-secondary: #919399;
$color-link: #005bd1;
$color-link-visited: #528fdf;

$color-primary: #e3b23c;
$color-secondary: #283143;
$color-accent: #80a4ed;
$color-border: rgba(#d3d3d3, 0.4);
$color-divider: rgba(#d9d9d9, 0.4);
$color-bg-secondary: rgba(#00103d, 0.06);
$color-bg-secondary--hover: rgba(#00103d, 0.1);
$color-rating: #ffd400;
$color-bg-warning: #fffce0;

$depth2: 0px 4px 32px rgba(0, 16, 61, 0.16);
$depth3: 0px 16px 48px rgba(0, 16, 61, 0.48);

$minWidth: 280;
$maxWidth: 1920;
$mainFontSize: 15;

$breakpoints: (
  sm: 375px,
  md: 770px,
  lg: 1280px,
  xl: 1440px,
);

@mixin media($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}
