include ../../forms/payment-form/payment-form

mixin payment-online()
    section.payment-online
        .payment-online__container.min-container
            h2.payment-online__title.h2 Оплата онлайн
            .payment-online__content
                p.payment-online__text.txt Для оплаты через сайт вам необходимо заполнить поля ниже, после чего вы автоматически перейдёте на сайт банка с протоколом безопасности для оплаты.
                +payment-form({
                    className: 'payment-online__form'
                })