//================ .filter-selector =========================
.filter-selector {
  &__button {
    color: $color-secondary;
    background-color: $color-primary;
    border-radius: rem(4);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptive-value("padding-top", 27, 20, map-get($breakpoints, es));
    @include adaptive-value(
      "padding-bottom",
      20,
      15,
      map-get($breakpoints, es)
    );
  }
  &__button-icon {
    width: rem(34);
    height: rem(34);
    pointer-events: none;
  }
  &__button-text {
    pointer-events: none;
    font-style: normal;
    font-weight: 600;
    font-size: rem(14);
    line-height: 143%;
    text-transform: uppercase;
  }
  &__body {
    background-color: rgb(61 69 85);
    border-bottom-left-radius: rem(8);
    border-bottom-right-radius: rem(8);
    margin-bottom: rem(15);
    padding-left: rem(10);
    padding-right: rem(10);
    overflow: hidden;
    height: 0;
  }
  &__filter-button {
    z-index: $zIndexLight;
    width: 100%;
    color: $color-white;
    background-color: rgb(80 87 102);

    margin-bottom: rem(15);
    & .filter-button__link {
      padding-top: rem(20);
      padding-bottom: rem(20);
    }
    &:first-child {
      margin-top: rem(45);
    }
  }
}
