include ../../Ui-kit/icon/icon
include ../../Ui-kit/filter-button/filter-button

mixin filter-selector({className, buttonText, selectors})
    div(class= className ? `${className} filter-selector `: `filter-selector`)
        div.filter-selector__accordion.ac
            button.filter-selector__button.ac-trigger(type='button')
                +icon('kitchen-filter', 'filter-selector__button-icon')
                span.filter-selector__button-text=buttonText
            .filter-selector__body.ac-panel
                each selector in selectors
                    +filter-button({
                        className: 'filter-selector__filter-button',
                        text: selector
                    })
