include ../../Ui-kit/input/input
include ../../Ui-kit/textarea/textarea
include ../../Ui-kit/button/button

mixin designer-form()
    form.designer-from(name="designer" action='/send.php')
        legend.designer-from__legend Оставить заявку
        +input({
            id: "designer-form-name",
            placeholder: "Представьтесь",
            type: "text",
            name:'name',
            className: 'designer-from__input'
        })(required minlength="2" maxlength="30")
        +input({
            id: "designer-form-tel",
            type:"tel",
            placeholder: "Контактный номер телефона",
            className: 'designer-from__input',
            name:'phone',
        })(required)
        +textarea({
            id: "designer-form-textarea",
            placeholder: "Комментарий, например, удобное время замера...",
            className: 'designer-from__textarea',
            rows: 1,
        })
        +button({
            text: 'Пригласить дизайнера',
            className: 'designer-from__button',
            type: 'submit'
        })
