.kitchen-full {
  &__swiper {
    position: relative;
    overflow: hidden;
  }
  &__item {
    width: 100%;
    position: relative;
  }
  &__item-image {
    @include adaptive-value(
      "height",
      800,
      380,
      map-get($breakpoints, es),
      map-get($breakpoints, xl)
    );
    object-fit: cover;
  }
  &__controls {
    height: 100%;
    top: 0;
    transform: translate(0);
    &_right {
      height: 100%;
      @include adaptive-value("width", 120, 60, map-get($breakpoints, es));
    }
    &_left {
      @include adaptive-value("width", 120, 60, map-get($breakpoints, es));
      height: 100%;
    }
    & svg {
      @include adaptive-value("height", 23, 20, map-get($breakpoints, es));
    }
  }
  &__button-back {
    position: absolute;
    @include adaptive-value("top", 24, 8, map-get($breakpoints, es));
    @include adaptive-value("right", 50, 10, map-get($breakpoints, es));
  }
  &__info {
    @include adaptive-value("margin-top", -155, -130, map-get($breakpoints, md));
    @media (max-width: (map-get($breakpoints, md) + px)) {
      margin-top: 0;
    }
    position: relative;
    z-index: $zIndexLight;
  }
}
