mixin specifications()
    section.specifications
        .specifications__container.min-container
            h2.specifications__title.h2._anim-upwards Харктеристики проекта
            ul.specifications__list._anim-upwards
                li.specifications__item._anim-delay-300
                    p.specifications__name.h4 Фасады
                    p.specifications__value.h4 МДФ Egger
                li.specifications__item._anim-delay-400
                    p.specifications__name.h4 Покрытие
                    p.specifications__value.h4 Эмаль
                li.specifications__item._anim-delay-500
                    p.specifications__name.h4 Корпус
                    p.specifications__value.h4 ЛДСП Kronospan
                li.specifications__item._anim-delay-600
                    p.specifications__name.h4 Столешница
                    p.specifications__value.h4 Утолщённое ЛДСП Egger
                li.specifications__item._anim-delay-700
                    p.specifications__name.h4 Техника
                    p.specifications__value.h4 Варочная панель, Духовой шкаф Bosch
