.advantages {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -48px;
  }

  &__item {
    margin-bottom: 48px;
    width: calc(50% - 28px);
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: $color-text-secondary;
  }

  &__num {
    display: block;
    margin-bottom: 3px;
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 52px;
    line-height: 80%;
    white-space: nowrap;
  }

  @include media(lg) {
    &__item {
      display: flex;
      align-items: center;
      width: auto;
    }

    &__num {
      flex-shrink: 0;
      margin-right: 11px;
      font-size: 72px;
    }

    &__text {
      max-width: 135px;
    }
  }
}
