mixin advantages(items)
  .advantages&attributes(attributes)
    .advantages__list
      each item in items
        p.advantages__item
          span.advantages__num= item.num
          span.advantages__text= item.text
