.kitchen-card {
  position: relative;
  background-color: $color-gray-600;
  &__breadcrumbs {
    @include media(md) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: $zIndexNormal;
    }
  }
}
