extends ../layouts/default.pug
include ../components/sections/article-section/article-section
include ../components/sections/may-interested/may-interested
include ../components/popups/call-popup/call-popup
include ../components/popups/done-popup/done-popup

block content
    +article-section
    +may-interested
    +call-popup
    +done-popup