extends ../layouts/default.pug
include ../components/sections/article-section/article-section
include ../components/sections/may-interested/may-interested

block content
    +article-section
    +may-interested