extends ../layouts/default.pug
include ../components/sections/steps/steps
include ../components/sections/form-section/form-section
include ../components/sections/catalog-kitchen/catalog-kitchen
block content
  +catalog-kitchen
  +form-section({
      titleVariant: 'variant-1',
      titleAccentWord:  "бесплатно ?",
      title: "Хотите получить проект своей будущей кухни ",
      text: "Да, увидеть проект по вашим размерам своими глазами! Заполните форму рядом и мы мигом свяжемся с вами и расскажем, как это сделать",
      button: false,
      backgroundIcon: true,
      form: 'application',
  })
  +steps
