extends ../layouts/default.pug
include ../components/sections/steps/steps
include ../components/sections/form-section/form-section
include ../components/sections/catalog-kitchen/catalog-kitchen
block content
  +catalog-kitchen
  +form-section
  +steps
