extends ../layouts/default.pug
include ../components/Ui-kit/button-back/button-back
include ../components/Ui-kit/button/button
include ../components/Ui-kit/circle-button/circle-button
include ../components/Ui-kit/filter-button/filter-button
include ../components/Ui-kit/icon/icon
include ../components/Ui-kit/input-file/input-file
include ../components/Ui-kit/input/input
include ../components/Ui-kit/kitchen-button/kitchen-button
include ../components/Ui-kit/kitchen-controls/kitchen-controls
include ../components/Ui-kit/learn-more-button/learn-more-button
include ../components/Ui-kit/stars/stars
include ../components/Ui-kit/textarea/textarea
include ../components/Ui-kit/video-button/video-button

block content
    .container(style={"background-color": "#283143", color: 'white', display:"grid", gap:'50px'})
        h2.h2 button-back
        +button-back({
            className: 'Class',
            text: 'text'
        })

        h2.h2 button
        +button({
            className: 'Class',
            text: 'text',
            color: 'white / default = yellow'
        })

        h2.h2 circle-button
        +circle-button({
            className: 'Class',
            text: 'text'
        })

        h2.h2 filter-button
        +filter-button({
            className: 'Class',
            text: 'text',
            active: true / false
        })

        h2.h2 icon
        +icon("youtube", "Class")

        h2.h2 input-file
        +input-file({
            id: "id",
            text: "text",
            className: 'Class',
            name: 'name // необязательно'
        })

        h2.h2 input
        +input({
            id: "id",
            type:"tel",
            placeholder: "placeholder",
            className: 'Class',
            name: 'name //  необязательно'
        })

        h2.h2 kitchen-button
        +kitchen-button({
            link: '#',
            className: 'Class',
            text: 'text',
            style: 'fill / transperent / default = fill'
        })

        h2.h2 kitchen-controls
        div(style={position: "relative", height: "50px"})
            +kitchen-controls({
                className: 'Class'
            })

        h2.h2 learn-more-button
        +learn-more-button({
            link: '#',
            className: 'Class',
            color: 'yellow / blue / default = yellow'
        })

        h2.h2 stars
        +stars({
            className: 'Class',
            quantity: 5
        })

        h2.h2 textarea
        +textarea({
            id: "id",
            placeholder: "placeholder",
            className: 'Class',
            rows: 1,
            cols: 2,
            name: 'textarea'
        })

        h2.h2 video-button
        +video-button({
            link: '#',
            className: 'Class',
            text: 'text',
        })
