extends ../layouts/default.pug
include ../components/sections/main-intro/main-intro
include ../components/sections/advantages-line/advantages-line
include ../components/sections/preview-catalog/preview-catalog
include ../components/sections/form-section/form-section
include ../components/sections/benefits/benefits
include ../components/sections/steps/steps

block content
  .index
    +main-intro
    +advantages-line('Индивидуальные проекты','Доставка по СПБ и регионам','Изготовление до 30 дней', 'Любая комплектация')
    +preview-catalog()
    +form-section()
    +benefits()
    +steps()
