extends ../layouts/default.pug
include ../components/sections/main-intro/main-intro
include ../components/sections/advantages-line/advantages-line
include ../components/sections/preview-catalog/preview-catalog
include ../components/sections/form-section/form-section
include ../components/sections/benefits/benefits
include ../components/sections/steps/steps
include ../components/popups/calc-popup/calc-popup
include ../components/popups/call-popup/call-popup
include ../components/popups/done-popup/done-popup
block content
  .index
    +main-intro
    +advantages-line('Индивидуальные проекты','Доставка по СПБ и регионам','Изготовление до 30 дней', 'Любая комплектация')
    +preview-catalog
    +form-section({
        titleVariant: 'variant-2',
        titleAccentWord:  "Бесплатный",
        title: " профессиональный замер у вас дома",
        text: "Наша компания предлагает уникальную услугу: наш дизайнер-замерщик приедет к вам с образцами материалов и дельными советами по обустройсву и планировке.",
        button: true,
        backgroundIcon: false,
        form: 'designer',
    })
    +benefits
    +steps
    +calc-popup
    +call-popup
    +done-popup