extends ../layouts/default.pug

include ../components/sections/production-intro/production-intro
include ../components/sections/stages/stages
include ../components/sections/preview-catalog/preview-catalog
include ../components/sections/form-section/form-section
include ../components/sections/team/team
include ../components/sections/materials/materials
include ../components/sections/materials-mobile/materials-mobile
include ../components/popups/calc-popup/calc-popup
include ../components/popups/call-popup/call-popup
include ../components/popups/done-popup/done-popup

block content
    +production-intro
    +stages
    +form-section({
        titleVariant: 'variant-1',
        titleAccentWord:  "бесплатно ?",
        title: "Хотите получить проект своей будущей кухни ",
        text: "Да, увидеть проект по вашим размерам своими глазами! Заполните форму рядом и мы мигом свяжемся с вами и расскажем, как это сделать",
        button: false,
        backgroundIcon: true,
        form: 'application',
    }).form-section_background-gray
    +materials
    +materials-mobile
    +team
    +preview-catalog
    +calc-popup
    +call-popup
    +done-popup