.input-file {
  margin-top: rem(30);
  &__field {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    position: absolute;
  }
  &__label {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: $color-gray-600;
    padding: rem(10) rem(15);
    border-radius: rem(30);
    cursor: pointer;
    transition: background-color $transitionNormal;
    @media (any-hover: hover) {
      &:hover {
        background-color: $color-primary;
        & .input-file__label-text {
          color: $color-white;
        }
        & .input-file__icon {
          fill: $color-text-secondary;
        }
      }
    }
  }
  &__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(40);
    height: rem(40);
    border-radius: 50%;
    background-color: $color-gray-200;
    flex-shrink: 0;
  }
  &__icon {
    width: rem(15);
    height: rem(18);
    fill: $color-secondary;
    transition: fill $transitionNormal;
  }
  &__label-text {
    font-style: normal;
    font-weight: 700;
    font-size: rem(13);
    line-height: 120%;
    margin-left: rem(10);
    transition: color $transitionNormal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }
}
