mixin kitchen-controls()
    div.kitchen-controls
        button.kitchen-controls__button.kitchen-controls__button_left(type="button")
        button.kitchen-controls__button.kitchen-controls__button_right(type="button")