include ./Ui-kit/icon/icon

mixin footer
  footer.footer
    .footer__menu
      .footer__nav
        .footer__nav-group
          a.footer__link.footer__link_cat.footer__link_main(href="/") Все кухни
          a.footer__link.footer__link_cat(href="/") Прямые кухни
          a.footer__link.footer__link_cat(href="/") Угловые кухни
          a.footer__link.footer__link_cat(href="/") П-образные кухни
          a.footer__link.footer__link_cat(href="/") Маленькие кухни
        .footer__nav-group
          a.footer__link(href="/") Производство
          a.footer__link(href="/") Оплата
          a.footer__link(href="/") Доставка и сборка
          a.footer__link(href="/") Отзывы
          a.footer__link(href="/") Акции
          a.footer__link(href="/") Блог
          a.footer__link(href="/") Контакты
      .footer__payment
        a.footer__payment-link(href="/") Оплата онлайн
    .footer__contacts
      img.footer__logo(src="/assets/icons/logo-inv.svg" alt="Аврора")
      p.footer__title Кухни, <span>сконструированые лучше всех остальных</span> от начала дизайна до конца сборки
      .footer__call
        a.footer__phone(href="tel:+7 (812) 612 30 49") +7 (812) 612 30 49
        p.footer__time ежедневно с 9 до 21
        button.footer__btn пригласить дизайнера
      .footer__social
        a.footer__social-item(href="/" target="_blank")
          +icon('youtube').footer__social-icon
        a.footer__social-item(href="/" target="_blank")
          +icon('vk').footer__social-icon
        a.footer__social-item(href="/" target="_blank")
          +icon('instagram').footer__social-icon
      a.footer__email(href="mailto:sample@sample.com") sample@sample.com
      p.footer__address “Аврора Кухни” <br>Санкт-Петербург, ул. Краснопутиловская, д. 69 лит. А, помещение 227Н, офис 536В
    .footer__bottom
      a.footer__policy(href="/" target="_blank") Политика конфиденциальности
