.footer {
  $left-space-lg: rem(102);
  $center-space-lg: rem(180);
  $left-space-xl: rem(130);
  $center-space-xl: rem(136);

  padding-bottom: rem(36);
  background-color: $color-text;
  color: #fff;

  &__nav {
    padding: rem(50) 0 rem(20);
  }

  &__nav-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: rem(50);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    margin-bottom: rem(16);
    font-weight: 600;
    font-size: rem(16);
    line-height: 1.5;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.5;
    }

    &_cat {
      margin-bottom: rem(21);
      font-size: rem(18);
      text-transform: uppercase;
    }

    &_main {
      margin-bottom: rem(28);
      font-weight: 700;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__payment {
    border-top: rem(1) solid $color-divider;
    border-bottom: rem(1) solid $color-divider;
    padding: rem(30) 0;
    text-align: center;

    &-link {
      font-weight: 600;
      font-size: rem(14);
      line-height: 1.43;
      text-transform: uppercase;
      color: $color-primary;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__contacts {
    margin-top: rem(40);
    padding: 0 rem(24);
    text-align: center;
  }

  &__logo {
    margin: 0 auto;
    width: rem(210);
  }

  &__title {
    margin-top: rem(12);
    font-size: rem(18);
    line-height: 1.5;
    text-transform: uppercase;

    span {
      color: $color-primary;
    }
  }

  &__call {
    margin-top: rem(50);
  }

  &__phone {
    font-weight: 700;
    font-size: rem(32);
    line-height: 1.5;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.5;
    }
  }

  &__time {
    margin-top: rem(-10);
    font-size: rem(15);
    line-height: 1.6;
    color: $color-text-secondary;
  }

  &__btn {
    margin-top: rem(30);
    width: 100%;
    padding: rem(25);
    font-weight: 600;
    font-size: rem(14);
    line-height: 1.43;
    text-transform: uppercase;
    background-color: $color-primary;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.5;
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    margin-top: rem(24);

    &-icon {
      width: rem(28);
      height: rem(28);
    }
  }
  &__email {
    display: none;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.5;
    }
  }

  &__address {
    display: none;
  }

  &__bottom {
    margin-top: rem(36);
    text-align: center;
  }

  &__policy {
    font-size: rem(14);
    line-height: 1.4;
    color: $color-text-secondary;
    transition: opacity 0.3s ease;
    margin-right: rem(10);
    &:hover {
      opacity: 0.5;
    }
  }

  @include media(lg) {
    display: grid;
    grid-template-columns: 1fr rem(600);
    grid-template-rows: 1fr auto;
    padding: rem(85) 0 rem(47);

    &__menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__nav {
      display: flex;
      padding: 0;
      padding-left: $left-space-lg;
      padding-right: $center-space-lg;

      &-group {
        margin-right: rem(85);
        margin-bottom: 0;
        align-items: flex-start;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__link {
      &_cat {
        text-transform: none;
      }
    }

    &__payment {
      margin-top: rem(48);
      padding: 0;
      padding-left: $left-space-lg;
      padding-right: $center-space-lg;
      border: none;
      text-align: left;
    }

    &__contacts {
      grid-row-end: span 2;
      margin-top: 0;
      padding: 0;
      max-width: rem(500);
      text-align: left;
    }

    &__logo {
      margin-left: 0;
      width: rem(215);
    }

    &__title {
      margin-top: rem(16);
      max-width: rem(405);
      font-size: rem(16);
    }

    &__call {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: auto rem(250);
      justify-content: space-between;
      align-items: start;
      margin-top: rem(32);
    }

    &__phone {
      font-size: rem(22);
    }

    &__time {
      margin-top: rem(-20);
    }

    &__btn {
      grid-row-end: span 2;
      margin-top: 0;
    }

    &__social {
      justify-content: flex-start;
      margin-top: rem(10);
    }
    &__social-icon-container {
      width: rem(41);
      height: rem(41);
      & svg {
        padding: rem(8);
      }
    }
    &__email {
      display: inline-block;
      margin-top: rem(28);
      font-size: rem(15);
      line-height: 1.6;
      color: $color-primary;
    }

    &__address {
      display: block;
      margin-top: rem(30);
      font-size: rem(15);
      line-height: 1.6;
    }

    &__bottom {
      margin-top: rem(27);
      margin-right: $center-space-lg;
      border-top: rem(1) solid $color-divider;
      padding-left: $left-space-lg;
      padding-top: rem(21);
      text-align: left;
    }
  }

  @include media(xl) {
    grid-template-columns: 1fr rem(650);

    &__nav {
      padding-left: $left-space-xl;
      padding-right: $center-space-xl;

      &-group {
        margin-right: rem(155);
      }
    }

    &__payment {
      padding-left: $left-space-xl;
      padding-right: $center-space-xl;
    }

    &__contacts {
      padding-bottom: rem(30);
    }

    &__call {
      align-items: center;
    }

    &__phone {
      font-size: rem(25);
    }

    &__social {
      margin-top: rem(70);
    }

    &__email {
      margin-top: rem(18);
    }

    &__address {
      margin-top: rem(50);
    }

    &__bottom {
      margin-right: $center-space-xl;
      padding-left: $left-space-xl;
    }
  }
}
