include ./Ui-kit/icon/icon
include ./blocks/social-box/social-box
mixin header
  header.header
    .header__bar
      button.header__menu-btn
        span
      a.header__logo(href="/avrora/")
        picture
          source(srcset="./assets/icons/logo-lg.svg" media="(min-width: 1280px)")
          img(src="./assets/icons/logo.svg", alt="Аврора").header__logo-img
      a.header__call(href="tel:+7 (812) 612 30 49")
        +icon('phone', 'header__call-icon')
      .header__menu
        nav.header__nav
          .header__nav-item.header__nav-item_sub
            button.header__link.header__link_sub Каталог кухонь
              +icon('angle').header__link-arrow
            .header__subnav
              a.header__sublink.header__sublink_main(href="/avrora/catalog") Все кухни
              a.header__sublink(href="/avrora/catalog") Прямые кухни
              a.header__sublink(href="/avrora/catalog") Угловые кухни
              a.header__sublink(href="/avrora/catalog") П-образные кухни
              a.header__sublink(href="/avrora/catalog") Маленькие кухни
              a.header__sublink(href="/avrora/catalog") Кухни с барной стойкой
              a.header__sublink(href="/avrora/catalog") Кухни с островом
              a.header__sublink(href="/avrora/catalog")
                +icon('crown').header__sublink-icon
                | Популярные кухни
          .header__nav-item
            a.header__link(href="/avrora/production") Производство
          .header__nav-item
            a.header__link(href="/avrora/delivery-assembly") Доставка и сборка
          .header__nav-item
            a.header__link(href="/avrora/reviews") Отзывы
          .header__nav-item
            a.header__link(href="/avrora/stocks") Акции
          .header__nav-item
            a.header__link(href="/avrora/blog") Блог
          .header__nav-item
            a.header__link(href="/avrora/contacts") Контакты
        +social-box({
            iconsName: ['vk', 'instagram', 'youtube'],
            className: "header__social"
          })
        .header__contacts
          button.header__city Санкт-Петербург
          a.header__phone(href="tel:+7 (812) 612 30 49") +7 (812) 612 30 49
          p.header__time ежедневно с 9 до 21
        button.header__btn(data-popup-open="call") Пригласить дизайнера
