mixin kitchen-advantages()
 section.kitchen-advantages
    .kitchen-advantages__container.container
        .kitchen-advantages__column
            h2.kitchen-advantages__text-large.h1 0 &#8381;
            p.kitchen-advantages__text.txt стоимость выезда дизайнера и 3D-проекта
        .kitchen-advantages__column
            h2.kitchen-advantages__text-large.h1 до30
            p.kitchen-advantages__text.txt дней на изготовление
        .kitchen-advantages__column
            h2.kitchen-advantages__text-large.h1 100 000&#43;
            p.kitchen-advantages__text.txt циклов работы фурнитуры
