mixin article-section()
    section.article-section.max-container
        img.article-section__intro-image(data-src="./assets/images/article/intro.jpg", alt="" data-lazy)
        article.article-section__body.container
            h1.article-section__title 5 полезных советов, как выбрать кухню на заказ
            p.article-section__description Кухня – это одно из главных помещений в квартире или частном доме, предназначенное как для приготовления пищи, так и для длительного пребывания всей семьи. Это означает, что при заказе кухонного гарнитура следует учесть многие нюансы, каждый из которых скажется на комфорте при эксплуатации этого полезного пространства. Ниже приводятся 9 полезных советов, как выбрать кухню на заказ.
            h3.article-section__subtitle
                span.article-section__subtitle-number 1.
                |  Правильно подобрать цвет и фактуру фасада
            p.article-section__text Выбор оттенка будущего гарнитура – важный шаг, так как слишком яркие краски могут со временем надоесть, а скучный экстерьер не сможет обеспечить уют. При выборе цвета фасада стоит изучить наибольшее количество уже реализованных дизайнерских решений, после чего определиться с заказом. При выборе фактуры фасада нужно отталкиваться от практических соображений – изящные двери с витражным остеклением или вензели из патины окажутся местом, где с годами будут оседать грязь и жир.
            img.article-section__image.article-section__image_first(data-src="./assets/images/article/content.jpg", alt="" data-lazy)
            img.article-section__image.article-section__image_second(data-src="./assets/images/article/content.jpg", alt="" data-lazy)
            h3.article-section__subtitle
                span.article-section__subtitle-number 2.
                | Продумать функциональное назначение каждого предмета
            p.article-section__text Отталкиваясь от проектных решений, следует выделить время и проанализировать необходимость каждого предмета мебели или встроенного бытового прибора. Хозяйке следует мысленно представить, насколько ей будет удобно пользоваться тем или иным шкафчиком или ящиком в данной зоне, правильно ли расположена плита, и насколько её устраивает рабочая зона столешницы, предназначенная для приготовления пищи.
            h3.article-section__subtitle
                span.article-section__subtitle-number 3.
                |  Правильно подобрать цвет и фактуру фасада
            p.article-section__text Выбор оттенка будущего гарнитура – важный шаг, так как слишком яркие краски могут со временем надоесть, а скучный экстерьер не сможет обеспечить уют. При выборе цвета фасада стоит изучить наибольшее количество уже реализованных дизайнерских решений, после чего определиться с заказом.
            p.article-section__text При выборе фактуры фасада нужно отталкиваться от практических соображений – изящные двери с витражным остеклением или вензели из патины окажутся местом, где с годами будут оседать грязь и жир.
            img.article-section__image.article-section__image_first(data-src="./assets/images/article/content.jpg", alt="" data-lazy)
            img.article-section__image.article-section__image_second(data-src="./assets/images/article/content.jpg", alt="" data-lazy)
            h3.article-section__subtitle
                span.article-section__subtitle-number 4.
                |  Тщательно продумать освещение
            p.article-section__text На данный аспект при заказе кухни обращает внимание лишь малая часть хозяек, что впоследствии приводит к необходимости организации дополнительного освещения. Все лампы рассеянного или точечного света должны быть установлены там, где они непременно понадобятся для работы и создания уюта в тёмное время суток.
            h3.article-section__subtitle
                span.article-section__subtitle-number 5.
                |  Правильно подобрать материал фасада
            p.article-section__text Подавляющее большинство хозяек делают правильный выбор в сторону фасадов из ЛДСП. Прочное и износостойкое ПВХ покрытие может повторять структуру любой породы дерева, типа камня или содержать уникальные рисунки.
            p.article-section__text При наличии бюджета, можно принять решение в пользу натурального дерева, но здесь следует предусмотреть влагостойкое покрытие, так как кухонный гарнитур эксплуатируется в агрессивных условиях и часто подвергается мойке.