mixin article-section()
    section.article-section
        img.article-section__intro-image(src="/assets/images/article/intro.jpg", alt="")
        article.article-section__body
            h1.article-section__title 5 полезных советов, как выбрать кухню на заказ
            p.article-section__description Кухня – это одно из главных помещений в квартире или частном доме, предназначенное как для приготовления пищи, так и для длительного пребывания всей семьи. Это означает, что при заказе кухонного гарнитура следует учесть многие нюансы, каждый из которых скажется на комфорте при эксплуатации этого полезного пространства. Ниже приводятся 9 полезных советов, как выбрать кухню на заказ.
            h3.article-section__subtitle Правильно подобрать цвет и фактуру фасада
                span.article-section__subtitle-number 1.
            p.article-section__text Выбор оттенка будущего гарнитура – важный шаг, так как слишком яркие краски могут со временем надоесть, а скучный экстерьер не сможет обеспечить уют. При выборе цвета фасада стоит изучить наибольшее количество уже реализованных дизайнерских решений, после чего определиться с заказом. При выборе фактуры фасада нужно отталкиваться от практических соображений – изящные двери с витражным остеклением или вензели из патины окажутся местом, где с годами будут оседать грязь и жир.
            img.article-section__image.article-section__image_first(src="/assets/images/article/content.jpg", alt="")
            img.article-section__image.article-section__image_second(src="/assets/images/article/content.jpg", alt="")
