mixin video-button({link="#", className, text, color, circle})
    button(class= className ? `${className} video-button`: 'video-button' class= color ? 'video-button_' + color : '')&attributes(attributes)
        if circle
            span.video-button__circle
        span.video-button__icon-box
            +icon('play', 'video-button__icon')
        p.video-button__link=text
