.form-section {
  background-color: $color-gray-600;
  position: relative;

  @include media(md) {
    background-color: initial;
  }
  &_overflow-hidden {
    overflow: hidden;
  }
  &__container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    @include adaptive-value("gap", 135, 40, map-get($breakpoints, sm));
    @include media(md) {
      grid-template-columns: 1.5fr 1fr;
    }
    @include media(lg) {
      grid-template-columns: 2fr 1fr;
    }
  }
  &__description {
    position: relative;
    @include adaptive-value("padding-left", 70, 0, map-get($breakpoints, md));
    @include adaptive-value(
      "padding-top",
      170,
      54,
      map-get($breakpoints, es),
      map-get($breakpoints, lg)
    );
    @include adaptive-value(
      "padding-bottom",
      277,
      10,
      map-get($breakpoints, sm)
    );
    @include adaptive-value(
      "padding-right",
      40,
      20,
      map-get($breakpoints, md),
      map-get($breakpoints, lg)
    );
    @include media(md) {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -900%;
        background-color: $color-gray-600;
        width: 1000%;
        height: 100%;
        z-index: -1;
      }
    }
  }
  &__description-box {
    max-width: rem(570);
  }
  &__title {
    font-family: "Philosopher";
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    &_accent {
      color: $color-primary;
    }
  }
  &__text {
    color: $color-text-secondary;
    @include adaptive-value(
      "margin-top",
      32,
      14,
      map-get($breakpoints, sm),
      map-get($breakpoints, lg)
    );
    @include media(md) {
      @include adaptive-value("margin-top", 25, 32, map-get($breakpoints, lg));
    }
  }
  &__button {
    @include adaptive-value("margin-top", 43, 15, map-get($breakpoints, sm));
  }
  &__form-box {
    align-self: center;
    @include adaptive-value("padding", 20, 0, map-get($breakpoints, sm));

    margin-bottom: rem(45);
    @include media(md) {
      margin-bottom: 0;
      max-width: rem(370);
    }
  }
  &__background-desctop {
    display: none;
    pointer-events: none;
    @include media(md) {
      display: block;
      position: absolute;
      top: 0;
      left: -20%;
      width: 120%;
      height: 100%;
    }
  }
  &__background-mobile {
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 120%;
    height: 100%;
    pointer-events: none;
    @include media(md) {
      display: none;
    }
  }
  &__background-right {
    display: none;
    @include media(md) {
      display: block;
      position: absolute;
      bottom: 9%;
      right: -37%;
      width: 100%;
      height: 164%;
      pointer-events: none;
      z-index: -1;
    }
    @media (min-width: 1980px) {
      bottom: 7%;
      right: -28%;
      transform: rotate(28deg);
    }
  }
}
