include ../../blocks/social-box/social-box
include ../../blocks/main-intro-list/main-intro-list
include ../../Ui-kit/circle-text/circle-text
mixin main-intro
    section.main-intro.max-container
        .main-intro__container.container
            div.main-intro__image-box
                img.main-intro__image(data-src="./assets/images/intro/main-intro.jpg" alt='background' data-lazy)
                +circle-text({
                    className: 'main-intro__circle-text',
                    words: [['/','/'], ['б','е','с','п','л','а','т','н','ы','й'],['з','а','м','е','р'], ['/','/'], ['б','е','с','п','л','а','т','н','ы','й'],['з','а','м','е','р']],
                })
            .main-intro__box
                +main-intro-list({
                    className: 'main-intro__list',
                    list: ["Прямые кухни",
                    "Угловые кухни",
                    "П-образные кухни",
                    "Маленькие кухни",
                    "Кухни с барной стойкой",
                    "Кухни с островом",
                    ]
                }

                )
                div.main-intro__title-box
                    h1.main-intro__title.h1 Кухни на заказ <br> от производителя
                    .main-intro__discount.h3
                        p.main-intro__discount-number.main-intro__discount-number_accent -50%
                        p.main-intro__discount-text скидки до конца месяца
                +social-box({
                    iconsName: ['vk', 'instagram', 'youtube'],
                    className: "main-intro__social"
                    })
