include ../../blocks/breadcrumbs/breadcrumbs
include ../../Ui-kit/circle-text/circle-text
include ../../Ui-kit/icon/icon


mixin delivery()
    section.delivery.max-container
        +breadcrumbs({
            className: 'delivery__breadcrumbs'
        })
        .delivery__container.min-container
            .delivery__header
                h1.delivery__title.h1 Доставка
                ul.delivery__list
                    li.delivery__item
                        span.delivery__item-index.h2 01
                        p.delivery__item-text.txt Доставка в удобное время
                    li.delivery__item
                        span.delivery__item-index.h2 02
                        p.delivery__item-text.txt Сами поднимем на этаж и занесём в квартиру
                    li.delivery__item
                        span.delivery__item-index.h2 03
                        p.delivery__item-text.txt Гарантия бережной доставки
                    li.delivery__item
                        span.delivery__item-index.h2 04
                        p.delivery__item-text.txt Фиксированная цена на услугу
        .delivery__footer
            img.delivery__footer-background(data-src="./assets/images/delivery/background.jpg", alt="background" data-lazy)
            +icon('circle-text-fixed-cost', 'delivery__footer-circle-text _rotating')
            .delivery__price.min-container
                .delivery__price-list
                    .delivery__price-item
                        .delivery__price-value.h2 3 490 &#8381;
                        .delivery__price-text.txt стоимость <br> доставки по СПб
                    .delivery__price-item
                        .delivery__price-value.h2 3 490 &#8381;
                        .delivery__price-text.txt стоимость <br> доставки по ЛО
                            .delivery__price-footnote &#43; 25 &#8381;&#47;км от КАД
        +icon('tree','delivery__background-icon')
