include ../../Ui-kit/kitchen-button/kitchen-button
include ../../Ui-kit/kitchen-controls/kitchen-controls

mixin kitchen-large({className, buttonStyle})
    div(class=className ? `${className} kitchen-large`: `kitchen-large`)
        .kitchen-large__swiper
            .swiper-wrapper
                a(href="/avrora/kitchen-detail", target="_blank", rel="noopener noreferrer").kitchen-large__item.swiper-slide
                    img.kitchen-large__image.swiper-lazy(data-src="./assets/images/kitchens/large.jpg", alt="kitchen")
                a(href="/avrora/kitchen-detail", target="_blank", rel="noopener noreferrer").kitchen-large__item.swiper-slide
                    img.kitchen-large__image.swiper-lazy(data-src="./assets/images/kitchens/large.jpg", alt="kitchen")
                a(href="/avrora/kitchen-detail", target="_blank", rel="noopener noreferrer").kitchen-large__item.swiper-slide
                    img.kitchen-large__image.swiper-lazy(data-src="./assets/images/kitchens/large.jpg", alt="kitchen")
            .kitchen-large__discount -50%
            +kitchen-controls({
                className: 'kitchen-large__controls'
            })
        .kitchen-large__footer
            h3.kitchen-large__title.h3 Название
            .kitchen-large__price
                span.kitchen-large__price-old 100 500 Р
                span.kitchen-large__price-current 100 500 Р
                p.kitchen-large__price-text цена за весь гарнитур
            +kitchen-button({
                className: 'kitchen-large__button',
                text: "Рассчитать мой проект",
                style: 'fill'
            })(data-popup-open='calc')