.learn-more-button {
  &__link {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    font-size: rem(14);
    line-height: 143%;
    color: $color-link;
    text-transform: uppercase;
    &:visited {
      color: $color-link-visited;
    }
  }
}
