include ../../blocks/accordion-item/accordion-item

mixin benefits()
    section.benefits.max-container
        .benefits__container.min-container
            h2.benefits__title.h2 Работать с нами удобно и безопасно
            .benefits__body
                .benefits__accordion.benefits__accordion_column-one
                    +accordion-item({
                        className: 'benefits__accordion-item',
                        title: 'Замер',
                        texts: ['Начать сотрудничество просто: оставьте заявку и наш дизайнер приедет в удобное время, покажет образцы материалов и посоветует как сделать самый удобный в мире гарнитур.']
                    })
                        p.accordion-item__text.accordion-item__text_accent Выезд дизайнера ни к чему вас не обязывает и совершенно бесплатен
                        +button({
                            className: 'benefits__accordion-item-button',
                            text: 'Пригласить дизайнера'
                        })(data-popup-open="call")
                    +accordion-item({
                        className: 'benefits__accordion-item',
                        title: 'Проверка заказа техническим отделом',
                        texts: ['Чтобы клиент всегда был доволен результатом, на нашем производстве есть технический отдел. Перед тем, как начать изготовление кухни, мастера осматривают каждую деталь дополнительно.']
                    }).benefits__accordion-item_white
                    +accordion-item({
                        className: 'benefits__accordion-item',
                        title: 'Производство',
                        texts: ['На созднание кухни у нас уйдётот нескольких недель до месяца, всё зависит от сложности проекта и поставки материалов.']
                    })
                .benefits__accordion.benefits__accordion_column-two
                    +accordion-item({
                            className: 'benefits__accordion-item',
                            title: 'Доставка и сборка',
                            texts: ['Как только гарнитур будет готов, наш менеджер свяжется с вами и вы выберете подходящее время для доставки и сборки гарнитура']
                        })
                    +accordion-item({
                        className: 'benefits__accordion-item',
                        title: 'Постпродажное обслуживание',
                        texts: ['Мы в ответе за свою работу и даём гарантию на продукт и сборку 2 года. Если в это время что-то пойдёт не так, мы оперативно всё заменим и починим']
                    })
