mixin benefits()
    section.benefits.max-container
        .benefits__container.container
            h2.benefits__title.h2 Работать с нами удобно и безопасно
            .benefits__body
                .benefits__accordion.benefits__accordion_column-one
                    .benefits__accordion-item.ac
                        button.benefits__accordion-button.ac-trigger
                            p.benefits__accordion-title.dd Забота о каждом клиенте
                            span.benefits__accordion-icon
                        .benefits__accordion-body.ac-panel
                            p.benefits__accordion-text Просторный цех с современным высокоточным оборудованием и квалифицированными сотрудниками в штате.
                    .benefits__accordion-item.ac
                        button.benefits__accordion-button.ac-trigger
                            p.benefits__accordion-title.dd Забота о каждом клиенте
                            span.benefits__accordion-icon
                        .benefits__accordion-body.ac-panel
                            p.benefits__accordion-text Просторный цех с современным высокоточным оборудованием и квалифицированными сотрудниками в штате.
                    .benefits__accordion-item.ac
                        button.benefits__accordion-button.ac-trigger
                            p.benefits__accordion-title.dd Забота о каждом клиенте
                            span.benefits__accordion-icon
                        .benefits__accordion-body.ac-panel
                            p.benefits__accordion-text Просторный цех с современным высокоточным оборудованием и квалифицированными сотрудниками в штате.
                    .benefits__accordion-item.ac
                        button.benefits__accordion-button.ac-trigger
                            p.benefits__accordion-title.dd Забота о каждом клиенте
                            span.benefits__accordion-icon
                        .benefits__accordion-body.ac-panel
                            p.benefits__accordion-text Просторный цех с современным высокоточным оборудованием и квалифицированными сотрудниками в штате.
                .benefits__accordion.benefits__accordion_column-two
                    .benefits__accordion-item.ac
                        button.benefits__accordion-button.ac-trigger
                            p.benefits__accordion-title.dd Забота о каждом клиенте
                            span.benefits__accordion-icon
                        .benefits__accordion-body.ac-panel
                            p.benefits__accordion-text Просторный цех с современным высокоточным оборудованием и квалифицированными сотрудниками в штате.
                    .benefits__accordion-item.ac
                        button.benefits__accordion-button.ac-trigger
                            p.benefits__accordion-title.dd Забота о каждом клиенте
                            span.benefits__accordion-icon
                        .benefits__accordion-body.ac-panel
                            p.benefits__accordion-text Просторный цех с современным высокоточным оборудованием и квалифицированными сотрудниками в штате.
                    .benefits__accordion-item.ac
                        button.benefits__accordion-button.ac-trigger
                            p.benefits__accordion-title.dd Забота о каждом клиенте
                            span.benefits__accordion-icon
                        .benefits__accordion-body.ac-panel
                            p.benefits__accordion-text Просторный цех с современным высокоточным оборудованием и квалифицированными сотрудниками в штате.
