include ../../blocks/accordion-item/accordion-item

mixin benefits()
    section.benefits.max-container
        .benefits__container.container
            h2.benefits__title.h2 Работать с нами удобно и безопасно
            .benefits__body
                .benefits__accordion.benefits__accordion_column-one
                    +accordion-item({
                        className: 'benefits__accordion-item',
                        title: 'Забота о каждом клиенте',
                        texts: ['Просторный цех с современным высокоточным оборудованием и квалифицированными сотрудниками в штате.']
                    })
                    +accordion-item({
                        className: 'benefits__accordion-item',
                        title: 'Забота о каждом клиенте',
                        texts: ['Просторный цех с современным высокоточным оборудованием и квалифицированными сотрудниками в штате.']
                    }).benefits__accordion-item_white
                    +accordion-item({
                        className: 'benefits__accordion-item',
                        title: 'Забота о каждом клиенте',
                        texts: ['Просторный цех с современным высокоточным оборудованием и квалифицированными сотрудниками в штате.']
                    })
                    +accordion-item({
                        className: 'benefits__accordion-item',
                        title: 'Забота о каждом клиенте',
                        texts: ['Просторный цех с современным высокоточным оборудованием и квалифицированными сотрудниками в штате.']
                    })
                .benefits__accordion.benefits__accordion_column-two
                    +accordion-item({
                        className: 'benefits__accordion-item',
                        title: 'Забота о каждом клиенте',
                        texts: ['Просторный цех с современным высокоточным оборудованием и квалифицированными сотрудниками в штате.']
                    })
                    +accordion-item({
                        className: 'benefits__accordion-item',
                        title: 'Забота о каждом клиенте',
                        texts: ['Просторный цех с современным высокоточным оборудованием и квалифицированными сотрудниками в штате.']
                    })
                    +accordion-item({
                        className: 'benefits__accordion-item',
                        title: 'Забота о каждом клиенте',
                        texts: ['Просторный цех с современным высокоточным оборудованием и квалифицированными сотрудниками в штате.']
                    })