include ../../blocks/accordion-item/accordion-item

mixin benefits()
    section.benefits.max-container
        .benefits__container.min-container
            h2.benefits__title.h2 Работать с нами удобно и безопасно
            .benefits__body
                .benefits__accordion.benefits__accordion_column-one
                    +accordion-item({
                        className: 'benefits__accordion-item',
                        title: 'Забота о каждом клиенте',
                        texts: ['Наш приоритет — качественно выполненный на всех этапах заказ: от ответа менеджера клиенту по телефону до финальной сдачи готовой новой кухни']
                    })
                    +accordion-item({
                        className: 'benefits__accordion-item',
                        title: 'Собственное производство',
                        texts: ['Чтобы клиент всегда был доволен результатом, на нашем производстве есть технический отдел. Перед тем, как начать изготовление кухни, мастера осматривают каждую деталь дополнительно.']
                    }).benefits__accordion-item_white
                    +accordion-item({
                        className: 'benefits__accordion-item',
                        title: 'Гибкие условия сотрудничества',
                        texts: ['На созднание кухни у нас уйдётот нескольких недель до месяца, всё зависит от сложности проекта и поставки материалов.']
                    })
                    +accordion-item({
                        className: 'benefits__accordion-item',
                        title: 'Широкий выбор материалов',
                        texts: ['На созднание кухни у нас уйдётот нескольких недель до месяца, всё зависит от сложности проекта и поставки материалов.']
                    })
                .benefits__accordion.benefits__accordion_column-two
                    +accordion-item({
                            className: 'benefits__accordion-item',
                            title: 'Индивидуальные проекты',
                            texts: ['Как только гарнитур будет готов, наш менеджер свяжется с вами и вы выберете подходящее время для доставки и сборки гарнитура']
                        })
                    +accordion-item({
                        className: 'benefits__accordion-item',
                        title: 'Проверенные поставщики',
                        texts: ['Мы в ответе за свою работу и даём гарантию на продукт и сборку 2 года. Если в это время что-то пойдёт не так, мы оперативно всё заменим и починим']
                    })
                    +accordion-item({
                        className: 'benefits__accordion-item',
                        title: 'Рассрочка',
                        texts: ['На созднание кухни у нас уйдётот нескольких недель до месяца, всё зависит от сложности проекта и поставки материалов.']
                    })
