mixin team()
    section.team.max-container
        div.team__container.container
            h2.team__title.h2 Команда
            p.team__text.txt Рассказ про основателя(-ей) компании, немного истории становления и планах на будущее. Можно упомянуть про квалифицированный штат, постоянных сотрудников и их приоритеты в работе.
            p.team__text.txt С другой стороны реализация намеченных плановых заданий играет важную роль в формировании соответствующий условий активизации. Таким образом укрепление и развитие структуры представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач.
            .team__image-box.team__image-box_large
                img.team__image(data-src="./assets/images/team/image_1.jpg", alt="team-working" data-lazy)
                img.team__image(data-src="./assets/images/team/image_1.jpg", alt="team-working" data-lazy)
                img.team__image(data-src="./assets/images/team/image_1.jpg", alt="team-working" data-lazy)
            p.team__text.txt Равным образом реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития. Таким образом постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
            .team__advantages
                .team__advantages-box
                    h3.team__advantages-title
                        span.team__advantages-title_accent.h1 60
                        | дней
                    p.team__advantages-text подготовки перед первым выездом
                .team__advantages-box
                    h3.team__advantages-title
                        span.team__advantages-title_accent.h1 4,3
                        | года
                    p.team__advantages-text средний опыт сотрудников в мебельной сфере
            .team__image-box.team__image-box_medium
                img.team__image(data-src="./assets/images/team/image_4.jpg", alt="team-working" data-lazy)
                img.team__image(data-src="./assets/images/team/image_5.jpg", alt="team-working" data-lazy)
            p.team__text.txt Таким образом реализация намеченных плановых заданий позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Равным образом укрепление и развитие структуры в значительной степени обуславливает создание существенных финансовых и административных условий.