.reviews-card {
  &__image {
  }
  &__title {
  }
  &__text {
  }
  &__video-button {
  }
  &__info {
  }
  &__author {
  }
  &__avatar {
    width: rem(73);
    height: rem(73);
    border-radius: 50%;
  }
  &__date {
  }
  &__stars {
  }
  &__button-project {
  }
}
